page-track-campaign {
	ion-content
	{
		font-family: 'roboto';
		font-size: 14px;	
	}
	.container {
		border-radius: 5px;
		background-color:#fafafa;
		height: 100%;
		//border: 1px solid #ccc; 
		//padding: 7% 26% 9% 31%;
		
	}

	/* Medium devices (landscape tablets, 768px and up) */
	@media only screen and (min-width: 992px) {
		.segment-ios .segment-button {	
			height: 3.6rem;
			background-color: white;
			text-align: center;
		}
		table{
			width:98%;
			margin-left: 1%;
			background-color: white;
			 border: 1px solid #ddd !important;
		}
		tr:hover {
			background-color:#f5f5f5;
		}
		th { 
			padding: 10px;  
			text-align: left; 
			//background: #faf5f5;
			border-bottom: 2px solid #ccc; 
			//border-top: 1px solid rgb(160, 154, 154);
            color: black;
			//font-weight: bold; 
		}
		td { 
			padding: 8px;  
			text-align: left; 
			border-bottom: 1px solid rgb(221, 220, 220); 
			
			
		}
	
		.search{
			float: right;
			margin-top: -46px;
			width: 22%;
			margin-right: 0%;
		}
		p{
			display: inline-block;
			color: red;
			height: 1px;
			margin-top: 2px;
			margin-left: 8px;
		}
		ion-segment 
	{
		width: 47%;
    	padding: 9px;
		margin-top: -10px;

	}

		.deleteicon{
			margin-left: 15px;
	
		}
	}
	

	}