<ion-header>
  <ion-navbar>
  <ion-title>Create Lead Profile</ion-title>
  </ion-navbar>
</ion-header>

  <ion-content padding>
  <!-- Item Dividers in a List -->

  <ion-segment [(ngModel)]="Segments" value="1" mode="ios" >
    <ion-segment-button (ionSelect)="Segments = 1" value="1">
      Select File
    </ion-segment-button>
    
    <ion-segment-button (ionSelect)="Segments = 2" value="2" >
      Manually Add Data
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="Segments">
    <div *ngSwitchCase="1" style="margin-top: 12px;">
      <h6 >Select file to upload data</h6>

  <div class="form-group" >
    <input type="file" (change)="onFileSelect($event.target)" id="myfile" accept=".csv">  
  </div>
 
  <!-- <button style="margin-left: 20px;margin-top: 10px;" ion-button type="submit" (click)="upload()"> Upload</button> -->
  
  <table>
  
  <tbody>
  
  
  <tr *ngFor="let att of anArray; let idx = index">
  <td> <ion-input style="height: 30px;" type="text" placeholder="Enter Field " [(ngModel)]="anArray[idx].value"></ion-input></td>
  <td>
  <!-- <ion-select [(ngModel)]="anArray[idx].indicator" (ionChange)="status(anArray[idx].indicator)" >
    <ion-option *ngFor="let att of arrFilelds;" [value]="anArray[idx].indicator">{{att}}</ion-option>
  </ion-select> -->

  <div>
    <select [(ngModel)]=" anArray[idx].indicator" (change)="removeField(idx, anArray[idx].indicator)"  > 
      
      <option *ngFor="let produ of arrFilelds">{{produ}}</option>  
      <!-- <option *ngFor="let produ2 of dummy">{{produ2}}</option> --> 
        <!-- <option >Select</option>
        <option [disabled]="isEnabled" value="None">None</option> -->
        <!-- <option [disabled]="isEnabled" value="Id">Id</option>
        <option [disabled]="isEnabled" value="Salutation">Salutation</option>
        <option [disabled]="isEnabled" value="first_name">first_name</option> -->
        <!-- <ion-option id="middle_name">middle_name</option>
        <ion-option id="last_name">last_name</ion-option> 
      -->
       
    </select>
  </div>
  
   
  <!-- 
  <option >Country</option>
  <option >Gender</option>
  <option >Company_Name</option>
  <option >Position</option>
  <option >Profile_URL</option>
  <option >Date_of_Birth</option>
  <option >Apartment</option>
  <option >Zip</option>
  <option >Fax</option>
  <option >Price</option>
  <option >Stage</option>
  <option >Quality</option>
  <option >Currency</option>
  <option >Other_Contact</option> -->
  
  </td>
  <!-- <td><ion-checkbox [(ngModel)]="anArray[idx].Checked"></ion-checkbox></td>
  <td><ion-checkbox [(ngModel)]="anArray[idx].isChecked"></ion-checkbox></td> -->
  <!-- <td> <ion-icon name="trash" class="deleteicon" (click)="remove(idx);"></ion-icon></td> -->
  
  </tr >  
  
  </tbody>
  
  
  </table>
  <button style="margin-left: 20px;margin-top: 10px;" ion-button type="submit" (click)="savefield()">Save</button>
  <button ion-button type="submit" (click)="upload()" *ngIf="uploadFlag">Upload</button>
    </div>

    <div *ngSwitchCase="2" >
      <h6 style="margin-top: 12px;">Add your Field</h6>
  
  
      <table class="data-table" class="myTable">
      <tbody>
      
      <tr *ngFor="let att of anArray1; let idx = index">
      <td> <ion-input style="height: 30px;" type="text" placeholder="Enter Field " [(ngModel)]="anArray1[idx].value" ></ion-input></td>
      <td>
      <select [(ngModel)]="anArray1[idx].indicator">
      <option >Select</option>
      <option >None</option>
      <option >first_name</option>
      <option >last_name</option>
      <option >Full Name</option>
      <option >Email</option>
      <option >Phone</option>
      
      
      </select>
      </td>
      <!-- <td> <ion-icon name="trash" class="deleteicon" (click)="remove(idx);"></ion-icon></td> -->
      </tr >
      </tbody> 
      </table>
      
      <br>
      
      <button ion-button style="background-color: #bbbbbb;margin-left: 20px;" (click)="Add()">Add More</button>   
      <button ion-button type="submit" (click)="savefield1()"> Save</button>
    </div>

  </div>  


  </ion-content>