page-register {
	ion-content
	{
		font-family: 'roboto';
		font-size: 15px;	
	}
	ul {
		list-style-type:none;
	}
	li span {
		display:inline-block;
		width:100px;
	}
    $white-color: #fff;
	$height100: 100%;
	.item-md ion-icon[item-left], .item-md ion-icon[item-right], 
   .item-md ion-icon[item-start], .item-md ion-icon[item-end] {
		margin-left: -13px;
		margin-top: 11px;
		margin-bottom: 10px;
		margin-right: -5px;
	}

	.grid1 {
		width:100%;
	    height: $height100;
		background-color: gainsboro;
	}
	
	.content
	{
		background-color:  #FFFFFF;
	}
	.contaier-login {
		width: 90%;
	    padding: 10px;
		margin: 5%;
		//margin-top: 15%;
		height: auto;
		background: #FFFFFF;
		border: 1px solid rgb(160, 156, 156);
		// border-radius: 5px;
		// -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
		// -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
		 box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0);
		position: fixed;
	}
	
	
	ion-row {
		//height: 30%;
		height: $height100;
	}
	
	ion-icon {
		margin-right: 15px;
	}

	h5 , h1 {
		text-align: center;
	}
	img#avtar{
		align-self: center;
		border-radius: 50%;
	}

	@media only screen and (min-width: 700px) {
		.contaier-login {
			
			 background: #FFFFFF;
			border-radius: 5px;
			-webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
			box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
            height:auto;
			width: 40%;
			margin: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-right: -50%;
			transform: translate(-50%, -50%)
			
		}
	}
	@media only screen and (min-width:768px){
		.contaier-login{
			width:50%;
		}
	}
}
