<tbody *ngIf="terms">
  <tr *ngFor="let product of prod;let idx = index; ">
    <th>	
    <div>
      <ion-icon (click)="remaining(product)" class="settingicon" ios="ios-list-box"
        md="md-list-box"></ion-icon>
      <ion-checkbox slot="start" [(ngModel)]="product.isChecked"
        (ionChange)="checkEvent();">
      </ion-checkbox>
    </div>
  </th>
  <td *ngIf="Salutation">{{product.Salutation}}</td>
      <td *ngIf="first_name">{{product.first_name}}</td>
      <td *ngIf="Full_Name">{{product.Full_Name}}</td>
      <td *ngIf="middle_name">{{product.middle_name}}</td>
      <td *ngIf="last_name">{{product.last_name}}</td>
    
      <td *ngIf="Phone">{{product.Phone}}
        <div *ngIf="product.Phone"
          style="color: cornflowerblue;display: inline-block;margin-left: 2px;">
          <ion-icon name="call" (click)="remaining(product)"> </ion-icon>
        </div>
      </td>
      <td *ngIf="Other_Contac">{{product.Other_Contac}}
        <div *ngIf="product.Other_Contac"
          style="color: cornflowerblue;display: inline-block;margin-left: 2px;">
          <ion-icon name="call"> </ion-icon>
        </div>
      </td>
      <td *ngIf="Email">{{product.Email}}</td>
      <td *ngIf="Other Email">{{product.Other_Email}}</td>
      <td *ngIf="Address">{{product.Address}}</td>
      <td *ngIf="City">{{product.City}}</td>
      <td *ngIf="State">{{product.State}}</td>
      <td *ngIf="Country">{{product.Country}}</td>
      <td *ngIf="Gender">{{product.Gender}}</td>
      <td *ngIf="Company_Name">{{product.Company_Name}}</td>
      <td *ngIf="Position">{{product.Position}}</td>
      <td *ngIf="Profile_URL">{{product.Profile_URL}}</td>
      <td *ngIf="Date_of_Birth">{{product.Date_of_Birth}}</td>
      <td *ngIf="Apartment">{{product.Apartment}}</td>
      <td *ngIf="Zip">{{product.Zip}}</td>
      <td *ngIf="Fax">{{product.Fax}}</td>
      <td *ngIf="Price">{{product.Price}}</td>
      <td *ngIf="Stage">{{product.Stage}}</td>
      <td *ngIf="Quality">{{product.Quality}}</td>
      <td *ngIf="Currency">{{product.Currency}}</td>
      <td *ngIf="Corporate_Website">{{product.Corporate_Website}}</td>
      <td *ngIf="Facebook">{{product.Facebook}}</td>
      <td *ngIf="Facebook_Page">{{product.Facebook_Page}}</td>
      <td *ngIf="Home">{{product.Home}}</td>
      <td *ngIf="Home_Phone">{{product.Home_Phone}}</td>
      <td *ngIf="Live_Chat">{{product.Live_Chat}}</td>
      <td *ngIf="LiveJournal">{{product.LiveJournal}}</td>
      <td *ngIf="Mobile">{{product.Mobile}}</td>
      <td *ngIf="Newsletter_Email">{{product.Newsletter_Email}}</td>
      <td *ngIf="Opportunity">{{product.Opportunity}}</td>
      <td *ngIf="Personal_Page">{{product.Personal_Page}}</td>
      <td *ngIf="Responsible_Person">{{product.Responsible_Person}}</td>
      <td *ngIf="Skype">{{product.Skype}}</td>
      <td *ngIf="Source">{{product.Source}}</td>
      <td *ngIf="Telegram_Account">{{product.Telegram_Account}}</td>
      <td *ngIf="Twitter">{{product.Twitter}}</td>
      <td *ngIf="Vibe_Contact">{{product.Vibe_Contact}}</td>
      <td *ngIf="VK_Page">{{product.VK_Page}}</td>
      <td *ngIf="Website">{{product.Website}}</td>
      <td *ngIf="Work_Email">{{product.Work_Email}}</td>
      <td *ngIf="Work_Phone">{{product.Work_Phone}}</td>

      <td>{{product.SR_name}}</td>

      <td *ngIf="product.pending" style="color: red;" (click)="gotocall(product)">
        {{product.action}} <br> {{product.datetime}}
        <p style="text-decoration:underline;color: black;">Add activiy</p>
      </td>

      <td *ngIf="!product.pending" style="color: green;" (click)="gotocall(product)">
        {{product.action}} <br> {{product.datetime}}
        <p style="text-decoration:underline;color: black"> Add activiy</p>
      </td>

      <td>{{product.status}}</td>
      <td>{{product.remark}}</td>
      <td>
        <div style="display: inline-block;margin-left: 3px;">
          <ion-icon name="create" (click)="edit(product)"></ion-icon>
        </div>
        <div style="display: inline-block;margin-left: 10px;">
          <ion-icon name="trash" (click)="showPopup(product.uid)"></ion-icon>
        </div>
      </td>
  </tr>
  
   
  </tbody>