page-edit-team-details {
	

	@media only screen and (min-width: 992px) {

		input[type=text],input[type=email], select 
		{
			width: 95%; 
			padding: 10px; 
			border: 1px solid #ccc; 
			border-radius: 4px; 
			box-sizing: border-box; 
			margin-top: 6px; 
			margin-bottom: 16px; 
			resize: vertical ;
			margin-left: 2px;

			&:focus {
				outline: none;
				border-color: #2d8cf0;
			}

		}
		label {
			margin-left: 4px;
			font-family: inherit;
			line-height: normal;
		}

		* {
			box-sizing: border-box;
		}
		

		.container {
			border-radius: 5px;
			//background-color: rgb(241, 238, 238);
			border: 1px solid #ccc; 
			padding: 7% 26% 9% 31%;
			
		}


		ion-content {
			font-family: 'roboto';
			font-size: 15px;
			//font-family: Arial, Helvetica, sans-serif;
				
		}

	}
}
