page-create-campaign {
	$primary-color: #25c23f;
$light-gray-color: #b6d4b9;

	@media only screen and (min-width: 992px) {



.progress-bar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
}

.progress-step {
  text-align: center;
  position: relative;

  &:before,
  &:after {
    background-color: $primary-color;
    content: "";
    height: 2px;
    position: absolute;
    z-index: -1;
    top: 20px;
  }

  &:after {
    left: 50%;
    width: 100%;
  }
  
  &:last-of-type.is-active:after {
    background-color: $primary-color;
    }

  @media screen and (min-width: 640px) {
    &:first-of-type:before {
      right: 50%;
      width: 50%;
    }
  }

  @media screen and (max-width: 640px) {
    &:first-of-type:before,
    &:last-of-type:after {
      background-color: white !important;
    }
  }

  &:last-of-type:after {
    left: 50%;
    width: 50%;
  }
    
  .step-count {
    background-color: $primary-color;
    height: 30px;
    width: 30px;
    margin: 4px auto;
    border-radius: 50%;
    color: white;
    line-height: 14px;
    z-index: 100;
    border: 7px solid white;
    font-size: 0.8rem;
    font-weight: 500;
  }

  &.is-active {
    .step-description {
      font-weight: 500;
    }
    &:after {
      background-color: $light-gray-color;
    }
      
    ~ .progress-step .step-count {
      background-color: $light-gray-color;
    }

    ~ .progress-step:after {
      background-color: $light-gray-color;
    }
  }
}

.step-description {
  font-size: 12px;
}


		

		input[type=text],input[type=email], select 
		{
			width: 95%; 
			padding: 10px; 
			border: 1px solid #ccc; 
			border-radius: 4px; 
			box-sizing: border-box; 
			margin-top: 6px; 
			margin-bottom: 16px; 
			resize: vertical ;
			//margin-left: 2px;
			font-size: 15px;

			&:focus {
				outline: none;
				border-color: #2d8cf0;
			}

		}

		ion-select
		{
			
			width: 95%; 
			padding: 10px; 
			border: 1px solid #ccc; 
			border-radius: 4px; 
			box-sizing: border-box; 
			margin-top: 6px; 
			margin-bottom: 16px; 
			resize: vertical ;
			//margin-left: 2px;
			font-size: 15px;

			&:focus {
				outline: none;
				border-color: #2d8cf0;
			}

		}
		.select-md {
			padding: 10px 14px 10px 13px;
		}
		label {
			font-family: inherit;
			line-height: normal;
			float: left;
			margin-left: 3%;
			margin-bottom: 1px;
			font-size: 15px;
		}
		

		* {
			box-sizing: border-box;
		}
		
		      #prevBtn {
        background-color: #bbbbbb;
      }

		.container {
			border-radius: 5px;
			//background-color: rgb(241, 238, 238);
			border: 1px solid #ccc; 
			padding: 7% 26% 9% 31%;
			
		}


		ion-content {
			font-family: 'roboto';
			font-size: 15px;
			//font-family: Arial, Helvetica, sans-serif;
				
		}
		.status{
		width: 98%;
	
		//padding: 7px;
		border-radius: 4px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin-top: 0px;
		//margin-bottom: 4px;
		resize: vertical;
		margin-left: 0px;
		font-size: 15px;
		}

		
		.selectoptionn
		{
			width: 100%;
			
			padding: 8px;
			border-radius: 4px;
			box-sizing: border-box;
			margin-top: 6px;
			resize: vertical;
			margin-left: 0px;
			font-size: 15px;

			&:focus {
				outline: none;
				border-color: #2d8cf0;
			}

		}
		
	  
	  ion-icon {
		display: inline-block;
		font-size: 1.2em;
		margin-left: 5px;
	}
	}

	.item-md.item-block .item-inner,
	.item-md.item-input.input-has-focus .item-inner,
	.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
	.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
	.list-md .item-input.input-has-focus:last-child,
	.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
	.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    border-bottom: none;
    box-shadow: none;
}
	.list-md .item-input.input-has-focus:last-child .item-inner,
	.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
	.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
    box-shadow: none; 
}





	

}
