page-call-details {
    ion-content
	{
		font-family: 'roboto';
		font-size: 14px;	
	}
	.container {
		border-radius: 5px;
		background-color:#fafafa;
		height: 100%;
		//border: 1px solid #ccc; 
		//padding: 7% 26% 9% 31%;		
	}	
    #contact_ul{
        list-style: none;
        -webkit-padding-start: 0px;
        }
         
        #li_phone ion-icon{
            font-size: 1.4em;
            vertical-align: middle;
            margin-right: 19px;
           // padding-top: -29px;
            margin-left: 13px;
        }
		/* Large devices (laptops/desktops, 992px and up) */
		@media only screen and (min-width: 992px) {
			table{
			width:98%;
			margin-left: 1%;
			background-color: white;
			 border: 1px solid #ddd !important;
		}
		tr:hover {
			background-color:#f5f5f5;
		}

		th { 
			padding: 10px;  
			text-align: left; 
			//background: #faf5f5;
			border-bottom: 2px solid #ccc; 
			//border-top: 1px solid rgb(160, 154, 154);
            color: black;
			//font-weight: bold; 
		}
		td { 
			padding: 8px;  
			text-align: left; 
			border-bottom: 1px solid rgb(221, 220, 220); 
			
			
		}
	
	.deleteicon{
		margin-left: 10px;
	
	}
	}
	
}
