page-profile {
    ion-content
	{
		font-family: 'roboto';
		font-size: 15px;	
	}
	.button-full-md {
        margin-left: 23%;
        margin-right: 0;
        border-radius: 5px;
        border-right-width: 0;
        border-left-width: 0;
        width: 57%;
    }
	ion-segment 
		{
			width: 50%;
		}


	
	/* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
	table, thead, tbody, th, td, tr {
		display: block;
	
	
	}
	ion-segment 
	{
		width: 100%;
	}
	
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		//padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: relative;
		/* Top/left values mimic padding */
		top: 0px;
		left: 6px;
		width: 45%;
		padding-right: 15px;
		white-space: nowrap;
		//font-weight: bold;
	}
	/*
	Label the data
	*/
	//td:nth-of-type(1) { font-weight:bold;font-size:150%;margin-top:5px; }
	td:nth-of-type(1):before { content: "First Name:"; }
	td:nth-of-type(2):before { content: "Last Name:"; }
	td:nth-of-type(3):before { content: "Role:"; }
	td:nth-of-type(4):before { content: "Email:"; }
	td:nth-of-type(5):before { content: "Action:"; }
	
	
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
table{
		width:100%;
	}
	td, th { 
		padding: 10px; 
		 border-bottom: 1px solid #8b8989; 
		text-align: left; 
		
	}

	.contaier-login {
		width: 83%;
		background: #ffffff;
		position: fixed;
		margin-left: 30px;
	}
	.deleteicon{
        margin-left: 15px;

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	table{
		width:100%;
	}
	td, th { 
		padding: 10px; 
		 border-bottom: 1px solid #8b8989; 
		text-align: left; 
		
	}

	.contaier-login {
		width: 83%;
		background: #ffffff;
		position: fixed;
		margin-left: 30px;
	}
	.deleteicon{
        margin-left: 15px;

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.contaier-login {
	background:#ffffff;
	border-radius:5px;
	border: 1px solid rgb(160, 156, 156);
   // box-shadow: 5px 5px 24px 15px rgba(0, 0 ,0 , 0.10);
   width: 70%;
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: 80%;
   transform: translate(-50%, -50%);
   height:auto;
}
.deleteicon{
	margin-left: 10px;

}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.contaier-login {
		background:#ffffff;
		border-radius:5px;
		border: 1px solid rgb(160, 156, 156);
	   // box-shadow: 5px 5px 24px 15px rgba(0, 0 ,0 , 0.10);
	   width: 60%;
	   margin: 0;
	   position: absolute;
	   top: 50%;
	   left: 50%;
	  
	   transform: translate(-50%, -50%);
	   height:auto;
	}

	.deleteicon{
        margin-left: 10px;
    }
	th:nth-child(1){
		width:8%;
	}
	th:nth-child(2){
		width:8%;
	}
	th:nth-child(3){
		width:8%;
	}
	th:nth-child(4){
		width:15%;
	}
	th:nth-child(5){
		width:2%;
	}
}

	

}