
<ion-header>

  <ion-navbar>
    <ion-title>Edit Lead Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="content">
  <div class="contaier">

<ion-list>    
    <ion-item > 
      <ion-label>Action</ion-label>
      
     <ion-select placeholder="Select Action" (ionChange)="hide()"  [(ngModel)]="value.action"> 
      <ion-option value="Callback">Callback</ion-option>
      <ion-option value="Schedule Meet">Schedule Meet</ion-option>
    </ion-select>
    <!-- <ion-icon item-end name="calendar"></ion-icon> -->
  </ion-item>
    <!-- <h6 [hidden]="!myTime">Follow Back - {{myDate}} : {{myTime}} </h6> -->
    <div *ngIf="hideMe"> 
      <ion-item> 
        <label style="color: black;">Follow Back</label> 
        <input type="date"  [(ngModel)]="value.datetime1" name="datetime" style="height: 30px;width: 53%;">
     </ion-item>
     </div>
     
    <ion-item>
      <ion-label>Status</ion-label>
      <ion-select placeholder="Select Status" [(ngModel)]="value.status"  >
        <ion-option  *ngFor="let product of productss" [value]="product.status">{{product.status}}</ion-option>
      </ion-select>
    </ion-item>
          
   
                                            
  <ion-item> 
    <ion-label>Remark</ion-label>
    <ion-textarea [(ngModel)]="value.remark"></ion-textarea>
  </ion-item>
</ion-list>

  
   
   <br>

    <table >
      <tr *ngFor="let produ of value.leads; let i = index;"> 
        <td><ion-input [(ngModel)]="produ.value"  style="font-weight: bold;"></ion-input></td> 
        <td><ion-input [(ngModel)]="produ.action"></ion-input></td>  
      </tr>  
       
  
   </table>

   
   
    <ion-list>
   
     
          <button ion-button color="primary" (click)="update()">
            Save Changes
        </button>
       </ion-list>
    
</div>


</ion-content>
