page-edit-lead-details {
	@media only screen and (min-width: 992px) {

	
		// .reg_name {
		// 	max-width:200px;
		// }

		input[type=text],input[type=email], select ,option
		{
			//width: 50%; 
			width: 90%;
			padding: 10px; 
			border: 1px solid #ccc; 
			border-radius: 4px; 
			box-sizing: border-box; 
			margin-top: 2px; 
			margin-bottom: 12px; 
			resize: vertical ;
			margin-left: 2px;
			display: inline;

			&:focus {
				outline: none;
				border-color: #2d8cf0;
			}

		}

		ion-select
		{
			
			width: 95%; 
			padding: 10px; 
			border: 1px solid #ccc; 
			border-radius: 4px; 
			box-sizing: border-box; 
			margin-top: 6px; 
			margin-bottom: 16px; 
			resize: vertical ;
			//margin-left: 2px;
			font-size: 15px;

			&:focus {
				outline: none;
				border-color: #2d8cf0;
			}

		}
		.select-md {
			padding: 10px 14px 10px 13px;
		}

		ion-input{
			margin-top: 4px;
    		margin-bottom: -11px;
		}
		label {
			margin-left: 3px;
			font-family: inherit;
			line-height: normal;
		}

		* {
			box-sizing: border-box;
		}
		

		.container {
			border-radius: 5px;
			//background-color: rgb(241, 238, 238);
			border: 1px solid #ccc; 
			padding: 7% 27% 9% 25%;
			//padding: 7% 5% 1% 7%;
			
		}


		ion-content
		{
			font-family: 'roboto';
			font-size: 14px;	
		}
		.item-md.item-block .item-inner,
	.item-md.item-input.input-has-focus .item-inner,
	.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
	.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
	.list-md .item-input.input-has-focus:last-child,
	.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
	.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    border-bottom: none;
    box-shadow: none;
}
	.list-md .item-input.input-has-focus:last-child .item-inner,
	.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
	.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
    box-shadow: none; 
}

	}
	
}