<ion-header>

  <ion-navbar>
    <ion-title>Edit Field</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="container">

    <table class="data-table" class="myTable">

      <tr>
        <th>Field</th>
      </tr>

      <tr *ngFor="let att of anArray; let idx = index">
        <td>
          <ion-input style="height: 30px;" type="text" placeholder="Enter Field " [(ngModel)]="anArray[idx].value">
          </ion-input>
        </td>
        <td>
          <div>
            <select *ngIf="anArray[idx].indicator !== 'Select'" [(ngModel)]=" anArray[idx].indicator" (change)="removeField(idx, anArray[idx].indicator)"  > 
              
              <option *ngFor="let produ of arrFilelds">{{produ}}</option>  
              
               
            </select>
        
            <select *ngIf="anArray[idx].indicator == 'Select'" style="border : 1px solid red;" [(ngModel)]=" anArray[idx].indicator" (change)="removeField(idx, anArray[idx].indicator)"  > 
              
              <option *ngFor="let produ of arrFilelds">{{produ}}</option>      
               
            </select>
        
          </div>
        </td>
       
        <td> <ion-icon name="trash" class="deleteicon" (click)="remove(idx);"></ion-icon></td>

      </tr>
    </table>
    <button ion-button style="background-color: #bbbbbb;margin-left: 20px;" (click)="Add()">Add More</button>
    <button ion-button type="submit" (click)="savefield()"> Save</button>
  </div>

</ion-content>