page-user-licenses {
	ion-content
	{
		font-family: 'roboto';
		font-size: 15px;	
	}
    table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #eee; 
    }
   
	th { 
		background: rgb(70, 69, 69); 
		color: white; 
		//font-weight: bold; 
	}
	td, th { 
		padding: 10px; 
		border-bottom: 1px solid #ccc; 
        text-align: left; 
        
    }
    
  
    @media
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
        table{
            width:80%;
        }
        td, th { 
            padding: 10px; 
        }

    }
	@media only screen
	and (min-device-width : 200px)
	and (max-device-width : 480px) {
        table, thead, tbody, th, td, tr {
            display: block;
        
        }
        thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tr { border: 1px solid #ccc; }

		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
            position: relative;
			//padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: relative;
			/* Top/left values mimic padding */
			top: 0px;
			left: 6px;
			width: 45%;
			padding-right: 15px;
            white-space: nowrap;
            font-weight: bold;
		}

		/*
		Label the data
		*/
		//td:nth-of-type(1) { font-weight:bold;font-size:150%;margin-top:5px; }
        td:nth-of-type(1):before { content: "No. of Licenses:"; }
		td:nth-of-type(2):before { content: "Price:"; }
		td:nth-of-type(3):before { content: "Total Price:"; }
		
        
    }
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		
		table{
            width:80%;
        }
	}


}
