page-account {
	ion-content
	{
		font-family: 'roboto';
		font-size: 15px;	
	}
    .button-full-md {
		margin-left: 18%;
		margin-right: 0;
		//border-radius: 5px;
		border-right-width: 0;
		border-left-width: 0;
		width: 64%;
    }
   

}
