<ion-header>

  <ion-navbar>
    <ion-title>Create New Lead</ion-title>
  </ion-navbar>

</ion-header>

<span class="inline">

<ion-content padding>

  <div class="container">

    <fieldset>  


      <div class="field-wrapper"  *ngFor="let product of anArray; let idx = index; let even = even;"> 
              <label class="sr-only">{{product.indicator}}</label>
              <input class="form-element" [(ngModel)]="products[idx].action" type="text" >
      </div>
     
      <div class="field-wrapper" *ngFor="let product of anArray2; let idx = index; ">
            <label class="sr-only">{{anArray2[idx].value}}</label>
            <input class="form-element" [(ngModel)]="anArray2[idx].action" type="text" >
    </div>

  </fieldset>  


 <label class="SrLabel">Sale Representative</label>
 <ion-item class="sr">
  <ion-select [(ngModel)]="prod" >
  <ion-option *ngFor="let prod of productss" [value]="prod">{{prod.name}}&nbsp;{{prod.last}}</ion-option>
  </ion-select>
  </ion-item>
  
<br>

<button ion-button  (click)= "insertLead(prod)" >Save</button>
</div>
</ion-content>