page-task-details {
	$primary-color: #25c23f;
	$light-gray-color: #b6d4b9;
	
		@media only screen and (min-width: 992px) {
		
	
			input[type=text],input[type=email],input[type=date], select 
			{
				width: 95%; 
				padding: 10px; 
				border: 1px solid #ccc; 
				border-radius: 4px; 
				box-sizing: border-box; 
				margin-top: 6px; 
				margin-bottom: 16px; 
				resize: vertical ;
				//margin-left: 2px;
				font-size: 15px;
	
				&:focus {
					outline: none;
					border-color: #2d8cf0;
				}
	
			}
	
			ion-select
			{
				
				width: 95%; 
				padding: 10px; 
				border: 1px solid #ccc; 
				border-radius: 4px; 
				box-sizing: border-box; 
				margin-top: 6px; 
				margin-bottom: 16px; 
				resize: vertical ;
				//margin-left: 2px;
				font-size: 15px;
	
				&:focus {
					outline: none;
					border-color: #2d8cf0;
				}
	
			}
			.select-md {
				padding: 10px 14px 10px 13px;
			}
			label {
				font-family: inherit;
				line-height: normal;
				float: left;
				margin-left: 5%;
				margin-bottom: 1px;
				font-size: 15px;
			}
			
	
			* {
				box-sizing: border-box;
			}
			
				  #prevBtn {
			background-color: #bbbbbb;
		  }
	
			.container {
				border-radius: 5px;
				//background-color: rgb(241, 238, 238);
				border: 1px solid #ccc; 
				padding: 3% 26% 9% 31%;
				
			}
	
			ion-content
			{
				font-family: 'roboto';
				font-size: 14px;	
			}
			.status{
			width: 98%;
		
			//padding: 7px;
			border-radius: 4px;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			margin-top: 0px;
			//margin-bottom: 4px;
			resize: vertical;
			margin-left: 0px;
			font-size: 15px;
			}
	
			
			.selectoptionn
			{
				width: 100%;
				
				padding: 8px;
				border-radius: 4px;
				box-sizing: border-box;
				margin-top: 6px;
				resize: vertical;
				margin-left: 0px;
				font-size: 15px;
	
				&:focus {
					outline: none;
					border-color: #2d8cf0;
				}
	
			}
			
		  
		  ion-icon {
			display: inline-block;
			font-size: 1.2em;
			margin-left: 5px;
		}
		}
	
		.item-md.item-block .item-inner,
		.item-md.item-input.input-has-focus .item-inner,
		.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
		.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
		.list-md .item-input.input-has-focus:last-child,
		.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
		.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
		border-bottom: none;
		box-shadow: none;
	}
		.list-md .item-input.input-has-focus:last-child .item-inner,
		.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
		.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
		box-shadow: none; 
	}
	
}
