<ion-header>

  <ion-navbar>
    <ion-title>Task Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content"> 
  <div class="contaier">
  <ion-list>
    <ion-item > 
      {{data}} {{data1}}
   </ion-item>
  
    
   
    <ion-item > 
      <ion-label>Action</ion-label>
      
     <ion-select placeholder="Select Action" (ionChange)="hide()"  [(ngModel)]="leadd.action"> 
      <ion-option value="Callback">Callback</ion-option>
      <ion-option value="Schedule Meet">Schedule Meet</ion-option>
      <ion-option value="Send Mail">Send Mail</ion-option>
    </ion-select>
    <!-- <ion-icon item-end name="calendar"></ion-icon> -->
  </ion-item>
    <!-- <h6 [hidden]="!myTime">Follow Back - {{myDate}} : {{myTime}} </h6> -->
    <div *ngIf="hideMe"> 
      <ion-item> 
        <label style="color: black;">Follow Back</label> 
        <input type="date"  [(ngModel)]="leadd.datetime1" name="datetime" style="height: 30px;width: 53%;">
     </ion-item>
     </div>
     
    <ion-item>
      <ion-label>Status</ion-label>
      <ion-select placeholder="Select Status" [(ngModel)]="leadd.selected_value" (ionChange)="Getselected(leadd.selected_value)" >
        <ion-option *ngFor="let product of products" [value]="product.status">{{product.status}}</ion-option>
      </ion-select>
    </ion-item>
          
   
                                            
  <ion-item> 
    <ion-textarea placeholder="Add Remark" [(ngModel)]="leadd.remark"></ion-textarea>
  </ion-item>

<button ion-button color="secondary" text-center (click)="hide1()" > Add Reference </button>

<div *ngIf="hideMe1"> 
  <ion-item> 
    <ion-input placeholder="First Name" [(ngModel)]="leadref.first_name" ></ion-input>
 </ion-item>
 <ion-item> 
  <ion-input placeholder="Last Name" [(ngModel)]="leadref.last_name"></ion-input>
</ion-item>
<ion-item> 
  <ion-input placeholder="Email" [(ngModel)]="leadref.email"></ion-input>
</ion-item>
<ion-item> 
  <ion-input placeholder="Phone" [(ngModel)]="leadref.phone"></ion-input>
</ion-item>
<button ion-button  color="secondary" text-center (click)="Save(leadref)" > Save Reference </button>
</div>


</ion-list>


<button  ion-button   color="primary" text-center (click)="Task(leadd)">Save </button>

<br>
</div>
 
</ion-content>


