<ion-header>

  <ion-navbar>
    <ion-title>Task Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <div class="container"> -->

    <div class="container left">
      <ion-item-divider class="divider">
        <ion-label>
          Current/Previous Task
        </ion-label>
      </ion-item-divider>

      <table *ngFor="let pro of pendings">
      

          <tr>
          <td>  Status </td>
          <td style="font-weight: bold;">  {{pro.Status}}  </td>
         </tr>

         <tr> 
          <td>  Remark </td>
          <td style="font-weight: bold;">  {{pro.Remark}}  </td>
          </tr>

          <tr>
          <td>  Action </td>
          <td style="font-weight: bold;">  {{pro.Action}} </td>
          </tr>
          
          <tr>
            <td>  Follow up </td>
            <td style="font-weight: bold;">  {{pro.FollowUp}} </td>
            </tr>

            <tr>
              <td>   Handler </td>
              <td style="font-weight: bold;">  {{pro.Handler}} </td>
              </tr>

              <!-- <tr>
                <td>   Activity Time </td>
                <td style="font-weight: bold;">  {{pro.Time}} </td>
                </tr> -->

            <tr>
              <td>  Mark to Complete Task </td>
              <td >   <ion-checkbox slot="start"  (ionChange)="completeTask(pro);"></ion-checkbox> </td>
              </tr>
      </table>
     </div>


     <div class="container right">
      <ion-item-divider class="divider">
        <ion-label>
          New Task 
        </ion-label>

      </ion-item-divider>

    
        <ion-item class="nameLabel">
          <ion-label style="float:left;color: black;font-weight: bold;" >
          {{data.first_name}} {{data.last_name}}
          </ion-label>
          <ion-label class="ref" name="dta" (click)="Reference()">
            Add Reference
           </ion-label>
        </ion-item>

        <label style="margin-top: 10px;">Status</label>
        <ion-item class="itemselect">
          <ion-select placeholder="Select Status" [(ngModel)]="task.status" (ionChange)="Getselected(task.status)">
            <ion-option *ngFor="let product of products" [value]="product.status">{{product.status}}</ion-option>
          </ion-select>
        </ion-item>

        <label>Remark</label>
        <ion-item>
          <ion-input placeholder="Enter Remark" [(ngModel)]="task.remark"></ion-input>
        </ion-item>

            <label>Action</label>
            <ion-item class="itemselect">
              <ion-select placeholder="Select Action" (ionChange)="hide(task.action)" [(ngModel)]="task.action">
                <ion-option value="None">None</ion-option>
                <ion-option value="Callback">Callback</ion-option>
                <ion-option value="Schedule Meet">Schedule Meet</ion-option>
                <ion-option value="Send Mail">Send Mail</ion-option>
              </ion-select>
            </ion-item>
    
            <div *ngIf="hideMe">
              <label style="color: black;">Follow Back</label>
              <ion-item class="datetime">
                <input type="date" [(ngModel)]="task.datetime" name="datetime">
              </ion-item>
            </div>

           
            <button  class="button" ion-button color="primary" text-center (click)="Task(task)">Save </button>
            
          </div>
    
    <br>
 

</ion-content>