<ion-header>

  <ion-navbar>
    <ion-title>Task Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <div class="container"> -->


    <div class="container left">
      <ion-item-divider class="divider">
        <ion-label>
          Previous Task
        </ion-label>
      </ion-item-divider>

      <table>
        <tr>
          <td>  Name </td>
          <td>  {{data.first_name}} {{data.last_name}} </td>
         <tr> 

          <tr>
          <td>  Status </td>
          <td>  {{data.status}}  </td>
         </tr>

         <tr> 
          <td>  Remark </td>
          <td>  {{data.remark}}  </td>
          </tr>

          <tr>
          <td>  Action </td>
          <td>  {{data.action}} </td>
          </tr>
          
      </table>
     </div>


     <div class="container right">
      <ion-item-divider class="divider">
        <ion-label>
          New Task 
        </ion-label>

        <ion-label style="float:left;color: blue;text-decoration: underline;" name="dta" (click)="Reference()">
          Add Reference
         </ion-label>
      </ion-item-divider>

    
        <ion-item class="nameLabel">
          {{data.first_name}} {{data.last_name}}
        </ion-item>

        <label style="margin-top: 10px;">Status</label>
        <ion-item class="itemselect">
          <ion-select placeholder="Select Status" [(ngModel)]="task.status" (ionChange)="Getselected(task.status)">
            <ion-option *ngFor="let product of products" [value]="product.status">{{product.status}}</ion-option>
          </ion-select>
        </ion-item>

        <label>Remark</label>
        <ion-item>
          <ion-input placeholder="Enter Remark" [(ngModel)]="task.remark"></ion-input>
        </ion-item>

            <label>Action</label>
            <ion-item class="itemselect">
              <ion-select placeholder="Select Action" (ionChange)="hide(task.action)" [(ngModel)]="task.action">
                <ion-option value="None">None</ion-option>
                <ion-option value="Callback">Callback</ion-option>
                <ion-option value="Schedule Meet">Schedule Meet</ion-option>
                <ion-option value="Send Mail">Send Mail</ion-option>
              </ion-select>
            </ion-item>
    
            <div *ngIf="hideMe">
              <label style="color: black;">Follow Back</label>
              <ion-item class="datetime">
                <input type="date" [(ngModel)]="task.datetime" name="datetime">
              </ion-item>
            </div>

            <button ion-button color="primary" text-center (click)="Task(task)">Save </button>
    
          </div>
    
    <br>
 

</ion-content>